@charset "UTF-8";
body{
    background-color: #1a1a1a;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0px;
    overflow: hidden;
}

.container{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #333333;
    border-radius: 8px;
    box-shadow: 0px 0px 10px black;
    box-sizing: border-box;
    
}
h2{
    text-align: center;
    margin-bottom: 20px;
    color: #e8e8e8;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 2rem;
}
form{
    display: flex;
    flex-direction: column;
}
label{
    margin-bottom: 5px;
    color: #e8e8e8;
}

input[type='text'], input[type='password']{
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #555;
    color: #f1f1f1;
}

input[type='text']::placeholder, input[type='password']::placeholder{
    color: #a6a6a6;
}

div.textlogin,div.password{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}


div.textlogin{
    margin-bottom: 10px;
}

div#erro-msg{
    color: red;
    margin: auto;
    padding-bottom: 10px;
}

div#erro-msg.sucesso{
    color: #4cd964;
}

p.demo{
    font-size: 12px;
    color: #d8d8d8;
    text-align: center;
    margin-top: 10px;
}

div.conected{
    font-size: 14px;
    margin-bottom: 1px;
}

div.esquecisenha, a{
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    color: #d8d8d8;
}

div.esquecisenha a:hover{
    text-decoration: underline;
    font-weight: bold;
}

.esquecisenha, a:hover{
    text-decoration: underline;
}

div.criarconta{
    text-align: center;
    color: #d8d8d8;
    
}

div.criarconta a:hover{
    color: #d8d8d8;
    text-decoration: underline;
    font-weight: bold;
}

input[type='submit']{
    background-color: #4d4dff;
    color: #d8d8d8;
    border: none;
    border-radius: 5px;
    padding: 15px;
    cursor: pointer;
    transition: 0.3s ease;
    margin-top: 10px;
    width: 100%;
    box-sizing: border-box;
    
}
input[type='submit']:hover{
    color: 337ab7;
    background-color: #4d4dff6c;
}
